@use '../../styles/forms';

.contact { 
  padding: 24px 0; 
}

.form-wrapper {
  @include forms.form-group;
}


label { 
  @extend .form-label !optional;
}

input, 
textarea { 
  @extend .form-input !optional;
}

input:focus, 
textarea:focus { 
  outline: 2px solid color-mix(in srgb, var(--color-primary) 35%, transparent); 
  border-color: var(--color-primary); 
}

.err { 
  @extend .form-error !optional;
}

